@use '../abstracts' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  @include gradient-bg;
  font-family: $font-family-sans;
  line-height: 1.5;
  font-weight: 400;
  color: $color-text;
  background-color: $color-bg;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 防止横向滚动
@include respond-to(sm) {
  body {
    overflow-x: hidden;
  }

  * {
    max-width: 100%;
  }
}
